html {
  background:#2d3748;
}

[class^='simplegoals'], [class*=' simplegoals'],
[class^='simplegoals'], [class*=' simplegoals']::before,
[class^='simplegoals'], [class*=' simplegoals']::after {
  /* Variables */
  --simplegoals-font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --simplegoals-color-white: #ffffff;
  --simplegoals-color-black: #000000;
  --simplegoals-color-teal500: #38b2ac;
  --simplegoals-color-teal600: #319795;
  --simplegoals-color-grey600: #718096;

  /* Defaults */
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-width: 0;
  border-style: none;
  outline: none;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: var(--simplegoals-font-family);
  font-size: 1em;
  font-weight: normal;
}

[class^='simplegoals']:focus, [class*=' simplegoals']:focus {
  outline: none;
  /* outline-style: solid;
  outline-color: var(--simplegoals-color-teal500); */
}

/* #region Achievement */

.simplegoals-achievement {
  display: flex;
  align-items: center;
  position: absolute;
  height: 6em;
  top: 1em;
  left: 1em;
  background: var(--simplegoals-color-white);
  border-radius: 3em;
  box-shadow: 0em 0em 2em 0em rgba(0,0,0,0.3);
  overflow: hidden;
  transition: all .7s linear;
  max-width: 6em;
  transform: translateX(-12em) rotate(-180deg);
  opacity: 0;
  z-index: 1789;
  font-size: 16px;
}

.simplegoals-achievement--opened {
  animation: simplegoals-achievement--open 2s ease-out both;
  max-width: calc(640px - 2em);
}

@keyframes simplegoals-achievement--open {
  0% {
    transform: translateX(-12em) rotate(-180deg);
    opacity: 0;
    max-width: 6em;
  }
  45% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    max-width: 6em;
  }
  55% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    max-width: 6em;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    max-width: calc(640px - 2em);
    opacity: 1;
  }
}

.simplegoals-achievement--closed {
  animation: simplegoals-achievement--close 2s ease-out both;
}

@keyframes simplegoals-achievement--close {
  0% {
    transform: translateX(0) rotate(0deg);
    max-width: calc(640px - 2em);
    opacity: 1;
  }
  45% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    max-width: 6em;
  }
  55% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    max-width: 6em;
  }
  100% {
    transform: translateX(-12em) rotate(-180deg);
    opacity: 0;
    max-width: 6em;
  }
}

.simplegoals-achievement__icon {
  display: flex;
  width: 6em;
  height: 6em;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  transform: translateY(0);
  transition: all .5s;
}

.simplegoals-achievement__icon img {
  max-height: 3.5em;
  max-width: 3.5em;
}

.simplegoals-achievement__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  max-width: calc(640px - 6em - 2em - 8em - 2.5em);
}

.simplegoals-achievement__notification {
  margin: 0;
  padding: .1em;
  font-size: 1em;
  color: var(--simplegoals-color-grey600);
}

.simplegoals-achievement__name {
  margin: 0;
  padding: .1em;
  font-size: 1.2em;
  font-weight: bold;
}

.simplegoals-achievement__button {
  background-color: var(--simplegoals-color-teal500);
  display: flex;
  font-size: 1em;
  color: var(--simplegoals-color-white);
  padding: 1em;
  margin-left: 1em;
  margin-right: 1.5em;
  border-radius: 3em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  flex: 1 0 auto;
  max-width: 8em;
  text-align: center;
  justify-content: center;
}

.simplegoals-achievement__button:hover {
  background-color: var(--simplegoals-color-teal600);
}

.simplegoals-achievement__close-button {
  position: absolute;
  background: none;
  height: 2em;
  width: 2em;
  left: 2em;
  top: 2em;
  transform: translateY(-10em);
  transition: all .5s;
  cursor: pointer;
  font-size: 1em;
}

.simplegoals-achievement__close-button svg {
  height: 2em;
  width: 2em;
  stroke: #E53E3E;
  transition: all .5s;
  transform: rotate(0);
}

.simplegoals-achievement__close-button svg:hover {
  transform: rotate(-90deg);
}

@media (min-width: 640px) and (hover: none) {
  .simplegoals-achievement--clicked .simplegoals-achievement__icon {
    transform: translateY(10em);
  }

  .simplegoals-achievement--clicked .simplegoals-achievement__close-button {
    transform: translateY(0);
  }
}

@media (min-width: 640px) and (hover: hover) {
  .simplegoals-achievement:hover .simplegoals-achievement__icon {
    transform: translateY(10em);
  }

  .simplegoals-achievement:hover .simplegoals-achievement__close-button {
    transform: translateY(0);
  }
}

@media (max-width: 639px) and (hover: none) {
  .simplegoals-achievement--opened {
    animation: simplegoals-achievement--open-mobile 2s ease-out both;
    max-width: calc(100vw - 2em);
  }

  .simplegoals-achievement--closed {
    animation: simplegoals-achievement--close-mobile 2s ease-out both;
  }

  .simplegoals-achievement__body {
    max-width: calc(100vw - 8em);
    transition: all .5s;
  }

  .simplegoals-achievement__button {
    position: absolute;
    right: 0;
    left: 4em;
    max-width: none;
    transform: translateY(-10em);
    transition: all .5s;
  }

  .simplegoals-achievement--closed .simplegoals-achievement__button{
    opacity: 0 !important;
  }
}

@media (max-width: 639px) and (hover: none) {
  .simplegoals-achievement--clicked .simplegoals-achievement__body {
    transform: translateY(10em);
  }

  .simplegoals-achievement--clicked .simplegoals-achievement__button {
    transform: translateY(0);
    opacity: 1;
  }

  .simplegoals-achievement--clicked .simplegoals-achievement__icon {
    transform: translateY(10em);
  }

  .simplegoals-achievement--clicked .simplegoals-achievement__close-button {
    transform: translateY(0);
  }
}

@media (max-width: 639px) and (hover: hover) {
  .simplegoals-achievement:hover .simplegoals-achievement__body {
    transform: translateY(10em);
  }

  .simplegoals-achievement:hover .simplegoals-achievement__button {
    transform: translateY(0);
    opacity: 1;
  }

  .simplegoals-achievement:hover .simplegoals-achievement__icon {
    transform: translateY(10em);
  }

  .simplegoals-achievement:hover .simplegoals-achievement__close-button {
    transform: translateY(0);
  }
}

@keyframes simplegoals-achievement--open-mobile {
  0% {
    transform: translateX(-12em) rotate(-180deg);
    opacity: 0;
    max-width: 6em;
  }
  45% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    max-width: 6em;
  }
  55% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    max-width: 6em;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    max-width: calc(100vw - 2em);
    opacity: 1;
  }
}

@keyframes simplegoals-achievement--close-mobile {
  0% {
    transform: translateX(0) rotate(0deg);
    max-width: calc(100vw - 2em);
    opacity: 1;
  }
  45% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    max-width: 6em;
  }
  55% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    max-width: 6em;
  }
  100% {
    transform: translateX(-12em) rotate(-180deg);
    opacity: 0;
    max-width: 6em;
    display: none;
  }
}

/* #endregion Achievement */

/* #region Overview */

.simplegoals-overview {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  font-style: 16px;
  overflow: auto;
  z-index: 1788;
  opacity: 0;
  transition: all .7s;
}

.simplegoals-overview--opened {
  opacity: 1;
}

.simplegoals-overview__wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  transition: all .7s;
  transform: translateY(100vh);
}
.simplegoals-overview--opened > .simplegoals-overview__wrapper {
  transform: translateY(0);
}

.simplegoals-overview__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border-radius: 3em;
  width: 640px;
  background-color: var(--simplegoals-color-white);
}

@media (max-width: 639px) {
  .simplegoals-overview__body {
    width: auto;
  }
}



.simplegoals-overview__title {
  font-size: 2em;
  font-weight: bolder;
  margin: .5em;
}

.simplegoals-overview__subtitle {
  color: var(--simplegoals-color-grey600);
}

.simplegoals-overview__goals {
  margin: 1.5em 0;
}

.simplegoals-overview-goal {
  display: flex;
  align-items: center;
}

.simplegoals-overview-goal__icon {
  display: flex;
  margin-right: 1em;
  height: 6em;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  transform: translateY(0);
  transition: all .5s;
}

.simplegoals-overview-goal__icon img {
  max-height: 3.5em;
  max-width: 3.5em;
}

.simplegoals-overview-goal--locked .simplegoals-overview-goal__icon img {
  filter: grayscale(100%);
}

.simplegoals-overview-goal__body {
  padding: .5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.simplegoals-overview-goal__name {
  padding: .1em;
  font-size: 1.2em;
  font-weight: bolder;
}

.simplegoals-overview-goal__description {
  padding: .1em;
  font-size: 1em;
  color: var(--simplegoals-color-grey600);
}

.simplegoals-overview__close-button {
  background-color: var(--simplegoals-color-teal500);
  font-size: 1em;
  color: var(--simplegoals-color-white);
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-radius: 3em;
  min-width: 8em;
  cursor: pointer;
  text-align: center;
}

.simplegoals-overview__close-button:hover {
  background-color: var(--simplegoals-color-teal600);
}

.simplegoals-overview__attribution {
  font-size: .9em;
  color: var(--simplegoals-color-grey600);
}

.simplegoals-overview__attribution-link {
  color: var(--simplegoals-color-teal500);
}

.simplegoals-overview__attribution-link:hover, .simplegoals-overview__attribution-link:active {
  color: var(--simplegoals-color-teal600);
}

/* #endregion Overview */